pipeline/pl_check_task_status.json
{
	"name": "pl_check_task_status",
	"properties": {
		"activities": [
			{
				"name": "get_environment_parameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT *\nFROM \n(\n\tselect parameter, value\n\tfrom config.environment\n) as i\npivot\n(\n\tmax(value) for parameter in \n\t(subscription, rg, adf)\n) as o",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_generic_azure_sqldb",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "wait_for_task_completion",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "get_environment_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals('v_task_status', 'InProgress'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "check_task_status",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',\nactivity('get_environment_parameters').output.firstRow.subscription,\n'/resourceGroups/',\nactivity('get_environment_parameters').output.firstRow.rg,\n'/providers/Microsoft.DataFactory/factories/',\nactivity('get_environment_parameters').output.firstRow.adf,\n'/pipelineruns/', pipeline().parameters.p_run_id,\n'?api-version=2018-06-01'\n)",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com"
								}
							}
						},
						{
							"name": "set_task_status",
							"description": "SUCCESS",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "check_task_status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_task_status",
								"value": {
									"value": "@activity('check_task_status').output.status",
									"type": "Expression"
								}
							}
						},
						{
							"name": "task_failed",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "check_task_status",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": "FAILED",
								"errorCode": "500"
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"p_run_id": {
				"type": "string"
			},
			"p_job": {
				"type": "string"
			}
		},
		"variables": {
			"v_task_status": {
				"type": "String"
			}
		},
		"folder": {
			"name": "framework"
		},
		"annotations": [
			"@pipeline().parameters.p_job"
		]
	}
}